header {
	display: flex;
	justify-content: center;
}

.container {
	height: 5rem;
	display: flex;
	width: 1310px;
	justify-content: space-between;
	align-items: center;
}

.mobileNavigation {
	display: none;
}

.container_left,
.container_right {
	display: flex;
	align-items: center;
	gap: 1rem;
}


@media (max-width: 1100px) {
	.container {
		height: 3.5rem;
		width: 100%;
		padding: 1rem;
	}

	.livrosElivros {
		width: 120px;
	}

	.logoCoruja {
		width: 30px;
	}

	.container_left,
	.container_right {
		gap: .5rem;
	}
}

@media (max-width: 375px) {
	.container {
		height: 3.5rem;
		width: 100%;
		padding: .5rem;
		border-bottom: 1px solid #cccccc;
	}

	.livrosElivros {
		width: 100%;
	}

	.logoCoruja {
		display: none;
	}

	.mobileNavigation {
		display: block;
	}
}