.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	width: 1310px;
	display: flex;
	justify-content: center;
	padding: 3rem 0 3rem 0;
	font-size: 1.5rem;
}

.containerForm {
	width: 1310px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
}

.labelBox {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.inputLogin {
	width: 30rem;
	height: 3rem;
	border-radius: 20px;
	border: 1px solid #8d8d8d;
	padding: 0 0 0 1rem;
	outline: none;
}

.labelTitle {
	padding: 0 0 .5rem .5rem;
}

@media (max-width: 1100px) {

	.title,
	.containerForm {
		width: 100%;
	}
}

@media (max-width: 375px) {
	.title {
		font-size: 1rem;
		padding: 2rem 0 2rem 0;
		width: 100%;
	}

	.containerForm {
		width: 360px;
	}

	.inputLogin {
		width: 20rem;
	}
}